<div class="events--day" data-controller="related-element"
  data-related-element-highlight-class="event--related">
  <% if day_timeline.has_activity? %>
    <h2 class="txt-medium events__day-header center">
      <span class="events__day-header-content">
        <% # TODO: Create proper format to match desired behavior: Today, tomorrow or date %>
        <%= local_datetime_tag day_timeline.day, style: :daysago, class: "txt-ink" %>
      </span>
    </h2>

    <div class="center events">
      <%= render_column_headers(day_timeline) %>
      <%= render_event_grid_cells %>

      <% day_timeline.events.group_by { it.created_at.hour }.each do |hour, events| %>
        <% events.group_by { event_column(it) }.each do |column, events| %>
          <%= event_cluster_tag(hour, column) do %>
            <%= render partial: "events/event", collection: events %>

            <%= local_datetime_tag events.first.created_at, class: "event__timestamp txt-small translucent" %>
          <% end %>
        <% end %> 
      <% end %>
    </div>

    <%= render "events/empty_days", day_timeline: day_timeline %>
  <% else %>
    <%= render "events/empty_days", day_timeline: day_timeline %>
  <% end %>
</div>
